mixin day(cl,h4,h5,p,...items)
	.day(class=cl)
		h4.day-title=h4
		ul.day-list
			each item in items
				li=item
		h5.day-bonus-title=h5
		p.day-bonus-text=p

section#plan
	.container
		+gt('','План мастер-класса')
		.row
			.col-md-6.col-sm-6
				+day('day-1','День 1. Введение.','Бонус: рунескрипт «Усиление потока»','который даёт возможность многократно усилить приток рунической энергии, тем самым делая вашу работу более эффективной','- Предание рун. Разные подходы к рунам','- Руны как наследие высокоразвитых цивилизаций прошлого','- Принципы работы рун. Руны как команды','- Принципы гадания на рунах','- Рунические артефакты','- Вход в рунический поток. Медитация на руны')
				+day('day-2','День 2. Карьера.','Бонус: рунескрипт «Власть»	','придаст вам важность и значимость в глазах других людей, используется, когда нужно склонить к принятию нужного решения и убедить в своей правоте','- Общественная роль и социальная картина мира','- «Точка сборки» как показатель базового навыка','- Понятие эгрегора в аспекте карьеры. Бизнес','- Важность для эгрегора организации','- Рунические способы продвижения карьеры')
			.col-md-6.col-sm-6
				//- +day('day-3','День 3. Деньги.','Бонус: рунескрипт «Чистка денежного канала»','убирает блоки, связанные с получением денежных средств, и усиливает приток энергии денег','- Связь финансов и карьеры','- Деньги как обратная связь от социума','- Понятие денежного канала','- Способы прочистки и усиления денежного канала')
				+day('day-4','День 3. Здоровье.','Бонус: рунескрипт «Чистка реестра»','предназначен для очищения подсознания от вредоносных программ, которые могли быть введены извне или созданы вами самими','- Здоровье в мистической картине мира','- Вход в высокочастотный режим как условие успешного исцеления','- Болезнь как дисбаланс энергий. Понятие «Дянь-тянь»','- Способы балансировки энергетики для улучшения здоровья')
				//- +day('day-5','День 5. Судьба.','Бонус: рунескрипт «Любовь по судьбе»','направлен на успешный поиск партнёра, а также гармонизацию уже существующих отношений','- Понятие судьбы в эзотерике','- Значение монады. Задачи монады','- Кармические задачи монады','- Соотношение предназначения и личной воли','- Рунические методы коррекции судьбы')
		+b('button-plan','записаться на трёхдневку')