-today_1 = '12 900р.';
-today_2 = '21 900р.';
-today_3 = '31 900р.';

-sale_1 = '2 000р.';
-sale_2 = '6 000р.';
-sale_3 = '8 000р.';

-link_1 = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=4422&clean=true&lg=ru';
-link_2 = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=4427&clean=true&lg=ru';
-link_3 = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=4432&clean=true&lg=ru';

section#prices
	.container
		+gt('general-title-prices','Выберите свой вариант участия')
		.packets
			.row
				.col-md-4.col-sm-4
					.packet
						.packet-head
							h4.packet-head-title
								small пакет
								| "Серебро"
						.packet-body
							h5.packet-body-title Атты
							p.more-button(data-toggle="modal" data-target="#Modal-1") подробнее
						.packet-footer
							p.cost.cost-full Стоимость:
								span 14 900р.
							p.cost.cost-sale Скидка:
								span#sale-1=sale_1
							p.cost.cost-today Стоимость сегодня:
								span#today-1=today_1
							+b('button-cost',link_1,'Выбрать','_blank','#link-1')
				.col-md-4.col-sm-4
					.packet
						.packet-head
							h4.packet-head-title
								small пакет
								| "Золото"
						.packet-body
							h5.packet-body-title ВСЁ, что входит в пакет "СЕРЕБРО" 
								br
								| + 
								br
								| Активация видения. Сборка Личности. Высшее Я
							p.more-button(data-toggle="modal" data-target="#Modal-2") подробнее
						.packet-footer
							p.cost.cost-full Стоимость:
								span 27 900р.
							p.cost.cost-sale Скидка:
								span#sale-2=sale_2
							p.cost.cost-today Стоимость сегодня:
								span#today-2=today_2
							+b('button-cost',link_2,'Выбрать','_blank','#link-2')
				.col-md-4.col-sm-4
					.packet
						.packet-head
							h4.packet-head-title
								small пакет
								| "Платина"
						.packet-body
							h5.packet-body-title ВСЁ, что входит в пакеты "СЕРЕБРО" и "ЗОЛОТО" 
								br
								| +
								br
								| Магия Древа Иггдрасиль. Параллельные Миры
							p.more-button(data-toggle="modal" data-target="#Modal-3") подробнее
						.packet-footer
							p.cost.cost-full Стоимость:
								span 39 900р.
							p.cost.cost-sale Скидка:
								span#sale-3=sale_3
							p.cost.cost-today Стоимость сегодня:
								span#today-3=today_3
							+b('button-cost',link_3,'Выбрать','_blank','#link-3')
		.prepayment
			h4.prepayment-title Акция!!!
			p.prepayment-text Платите 1 000р., бонусом получаете 
				span#prepayment-bonus 1 000р. 
				br
				| На счет зачисляется 
				span#prepayment-credited 2 000р.
			+b('','https://shop.mastervision.su/?r=ordering/cart/as1&id=4437&clean=true&lg=ru','Оплатить 1 000р.','_blank','prepayment-link')
		.timer
			h4.timer-title Скидка уменьшится через:
			.clock